.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  color: transparent;
}

.cell.alive {
  background-color: black;
}

.cell.empty {
  background-color: white;
}
